.topbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 50px;
    background-color: var(--theme-primary-600);
    color: var(--theme-primary-600i);
    padding: 0 20px;
}

.topbar__left,
.topbar__right {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
}

.topbar__link, .topbar__link:hover, .topbar__link:focus, .topbar__link:active {
    color: var(--color-white-100);
}

.topbar__link {
    background-color: var(--theme-primary-transparent-100);
    padding: 8px 16px;
    margin-right: 10px;
    transition: background-color 250ms ease-in-out;
}

.topbar__link:hover {
    background-color: var(--theme-primary-transparent-600);
}