.home-page-view {
  display: grid;
  grid-auto-flow: row;
  row-gap: 24px;
}

.home-page-view__featured {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 24px;
}

.home-page-view__featured .reach-article-list-widget-article-link--background-fill {
  background-color: var(--theme-primary-100) !important;
}

.reach-dark .home-page-view__featured .reach-article-list-widget-article-link--background-fill {
  background-color: var(--theme-primary-500) !important;
}